.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
tests/**
*.ts
*.map
*.log
npm-debug.log*
**/.prettierrc
**/.prettierignore
**/.npmrc
**/.env
**/.DS_Store
**/Thumbs.db
**/.git/**
**/.github/**
**/.idea/**
**/.vs/**
**/node_modules/**



